@use "./../01-abstracts/" as *;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
	font-family: 'Lexend Deca', sans-serif;
	font-size: rem(15px);
	line-height: 25px;
	color: #fff;
}

h1, h2 {
	font-family: 'Big Shoulders Display', cursive;
	font-size: rem(40px);
	font-weight: bold;
	line-height: 48px;
	text-transform: uppercase;
	color: $color-bone;
}
