@use "./../01-abstracts/" as *;

.cards {
  margin: 93px auto 83px;
  max-width: 500px;
  background-color: $color-yellow;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  @include breakpoint($md-lg) {
    margin: 171px auto 129px;
    max-width: 920px;
    flex-direction: row;
  }
}

.card {
  padding: 48px 48px 49px;
  border-radius: 8px;

  &__img {
    max-width: 64px;
    margin-bottom: 35px;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__text {
    margin-bottom: 25px;
    opacity: 0.75;

    @include breakpoint($md-lg) {
      margin-bottom: 83px;
    }
  }

  &__btn {
    padding: 0px 31.5px 2px;
    height: 48px;
    border-radius: 25px;
    background-color: $color-bone;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      background-color: transparent;
      border-color: white;
      color: white;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &--0 {
    background-color: $color-yellow;

    & .card__btn {
      color: $color-yellow;

      &:hover {
        color: inherit;
      }
    }
  }

  &--1 {
    background-color: $color-teal;

    & .card__btn {
      color: $color-teal;

      &:hover {
        color: inherit;
      }
    }
  }

  &--2 {
    background-color: $color-green;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    & .card__btn {
      color: $color-green;

      &:hover {
        color: inherit;
      }
    }
  }
}
